n8n/chatbot_inform.json
{
  "name": "chatbot-inform",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        100
      ],
      "id": "78f1a417-96f2-480a-b447-baebfb8a3a3e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "e2158726-6631-49a1-8db0-23500dae0619",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        580,
        180
      ],
      "id": "4f2e195e-3d7d-498f-949d-18a74d44f5be",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        80
      ],
      "id": "ecf2be2a-3a80-4e5e-ae97-a8a20f3f2456",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        340
      ],
      "id": "560d0b45-5833-4d6a-867c-54ca705d5cc8",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "1tCgr7tg2dLuYKr5",
          "name": "Acne"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "acne-3large",
          "mode": "list",
          "cachedResultName": "acne-3large"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1380,
        80
      ],
      "id": "57e4a07e-9df3-4d76-afdb-b0ee5962b02a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "vm3hQo3tfCyF9aBt",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source_filename"
              },
              {
                "name": "page_number"
              },
              {
                "name": "chunk_index"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1480,
        380
      ],
      "id": "00fbacb3-f561-4ed2-9ef1-773f8b7f447d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        1420,
        600
      ],
      "id": "9dfdece0-1bd2-4d4d-9391-694d0b2d42ea",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1wmbKuwptvzOS_LDXOpq5ZzPhwwrg-l61",
          "mode": "list",
          "cachedResultName": "AcneInform2.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1wmbKuwptvzOS_LDXOpq5ZzPhwwrg-l61/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "fb9df118-ddae-4919-bed9-fefdf92b8b24",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ulSjJDJz9ln6EgXZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1YvdoiYte0Mngj5qls8JkeGPXeGleZAih",
          "mode": "list",
          "cachedResultName": "Example of Acne Classification.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1YvdoiYte0Mngj5qls8JkeGPXeGleZAih/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        180
      ],
      "id": "70733bbd-d116-4e71-9cb9-416519dc05b8",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ulSjJDJz9ln6EgXZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4721bf39-74af-47d3-838d-4b687b4f62c6",
              "name": "text",
              "value": "={{$json[\"text\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        80
      ],
      "id": "8aea232e-3e3c-4441-8676-091f09d10f8f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        580,
        380
      ],
      "id": "4f9f01dd-a0a2-44bb-9b6b-211a8ae0d74f",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "15Q_c0nQs1JQC_8f4EbF27avjBHkiN_oK",
          "mode": "list",
          "cachedResultName": "nopdfinform.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/15Q_c0nQs1JQC_8f4EbF27avjBHkiN_oK/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        380
      ],
      "id": "489906d8-6271-4937-a9c9-0a0d563d5e75",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ulSjJDJz9ln6EgXZ",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aabad799-2a43-42a4-9740-d7acbb0b1b45",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6da64e1e367b15d2a03144848bdc49f5a04c577d358980ee665ed67f4b809383"
  },
  "id": "GQpGN566VMPTCFsP",
  "tags": []
}